.details {
  margin-top: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0 15px;
  overflow: hidden;

  &-hearth {
    position: absolute;
    right: 30px;
  }

  &-fishname {
    font-family: "Poppins";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #23dcc9;
    margin-bottom: 15px;
  }
  &-thumbs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 9;
    position: relative;
    bottom: 35px;
    width: 100%;

    &-macho {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-right: 5px;
      &-text {
        font-family: Poppins;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: #51e3d4;
      }
      & > img {
        border-radius: 28px;
        width: 64px;
        height: 64px;
        object-fit: cover;
        border: 3px solid #51e3d4;
        box-sizing: border-box;
        z-index: 9;
      }
    }
    &-hembra {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin-left: 5px;
      &-text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 22px;
        color: #263073;
      }
      & > img {
        border-radius: 28px;
        width: 64px;
        height: 64px;
        object-fit: fill;
        border: 3px solid #ffffff;
        box-sizing: border-box;
        z-index: 9;
      }
    }
  }

  &-photo {
    & > img {
      border-radius: 38px;
      height: 230px;
    }
  }

  &-title {
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 28px;
    color: #8c96d9;

    & > img {
      height: 24px;
      width: 24px;
      margin-right: 10px;
    }
  }

  &-description {
    width: 100%;
    border-radius: 28px;
    background-color: #f7f8fc;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
    box-shadow: 0px 5px 17px rgba(38, 48, 115, 0.1),
      0px -1px 10px rgba(38, 48, 115, 0.1);
    font-family: "Poppins";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    & > p {
      margin: 2px 0;
      color: #263073;
    }
    &-bold {
      font-weight: bold;
      color: #19204d;
    }
  }

  &-scroll {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    width: 100% !important;
    height: 200px;
    padding: 5px;
    overflow-x: auto;
    &::-webkit-scrollbar {
      display: none;
    }

    &-data {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center !important;
      width: 150vw !important;
      height: 112px !important;
      white-space: pre;
      border-radius: 28px;
      background-color: #f7f8fc;
      box-shadow: 0px 5px 17px rgba(38, 48, 115, 0.1),
        0px -1px 10px rgba(38, 48, 115, 0.1);
      font-family: "Poppins";
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      margin-left: 20px;

      &-images {
        &-vertical {
          display: flex;
          flex-direction: column;
          align-items: center;
          margin: 0;
          z-index: 9;
          position: relative;
          top: -35px;
          height: 0px;
        }
        &-horizontal {
          display: flex;
          flex-direction: row;
          align-items: center;
          margin: 0;
          z-index: 9;
          position: relative;
          top: -35px;
          height: 0px;
        }
        &-title {
          font-family: Poppins;
          font-style: normal;
          font-weight: bold;
          font-size: 12px;
          line-height: 20px;
          color: #1cb0a1;
          width: 120px !important;
          text-align: center;
          white-space: normal;
        }
        &-text {
          white-space: normal;
          color: #263073;
        }
      }
      & > p {
        padding: 0 20px;
      }
    }
  }

  &-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 328;
    padding: 12px 84px;
    background: #ff7866;
    box-shadow: 0px 4px 2px rgba(204, 24, 0, 0.15);
    border-radius: 85px;
    border: none;
    font-family: Poppins;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 24px;
    color: #fff6f5;
    margin: 20px 0;
  }
}
#img {
  &-ph {
    width: 33px;
    z-index: 9;
    position: relative;
    top: -45px;
  }

  &-agua {
    position: relative;
    top: -60px;
    width: 56px;
  }
  &-meter {
    height: 60px;
    z-index: 9;
    position: relative;
    top: -15px;
  }
  &-fish {
    width: 58px;
    position: relative;
    top: -17px;
  }
  &-life {
    width: 80px;
    position: relative;
    top: -12px;
  }
  &-dureza {
    width: 80px;
    position: relative;
    top: -25px;
  }
  &-temperatura {
    width: 80px;
    position: relative;
    top: -25px;
  }
  &-espacio {
    width: 80px;
    position: relative;
    top: -25px;
  }
  &-temperamento {
    width: 80px;
    position: relative;
    top: -25px;
  }
}
