
section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.div-camera {
    width: 75%;
}

.container-menu {
    display: flex;
    flex-direction: column;
}

