
.aquarium {
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.div-camera {
    width: 75%;
}

.container-menu {
    display: flex;
    flex-direction: column;
}

.container-login {
    display: flex;
    flex-direction: column;
    width: 344px;
    height: 493px;
    background: #F7F8FC;
    border-radius: 28px;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
}