.splashscreen{
    
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &-logo{
        margin-top: 240px;
        width: 85% !important;
    }

    &-olas{
        position: fixed;
        bottom: 0;
    }
}