.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 344px;
    height: 493px;
    padding: 40px;
    background: #F7F8FC;
/* Card */
    box-shadow: 0px 5px 17px rgba(38, 48, 115, 0.1), 0px -1px 10px rgba(38, 48, 115, 0.1);
    border-radius: 28px;
    border-radius: 28px;
    align-content: flex-start;
    justify-content: space-evenly;
    align-items: center;
}

.container-form {
    display: flex;
    flex-direction: column;
}

.form {
        display: flex;
        flex-direction: column;
        margin: 15px;
}


.container-image {
    width: 64px;
    height: 64px;
    border: 3px solid #FFFFFF;
    box-sizing: border-box;
    margin: 15px;
}

.add-container {
    right: 105px;
    position: absolute;
    top: 550px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.add-container p {
    width: 93px;
    height: 22px;
   
}

// Te comento esta clase que afecta a todos los links

// a {
//     font-size: 14px;
//     text-decoration: none;
// }

.container-image img {
    width: 64px;
    height: 64px;
}

.container-image h3 {
    width: 75px;
    height: 24px;
}

