.gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.container-form {
    display: flex;
    flex-direction: column;
}

.form {
        display: flex;
        flex-direction: column;
        margin: 15px;
}
