// .confirmation-buttons {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     flex-wrap: wrap;
//     justify-content: center;
//     margin: 30px;
//     width: 292px;
// }

// .confirmation-buttons button {
.confirmation-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    margin: 30px;
    width: 292px;
    
}

.camera-webcam {
  padding: 25px;
  border-radius: 38px;
  background-color: white;

}
.yes-button {
    background-color: #FF7866;
    border: none;
    color: white;
}

// .no-button {
//     background-color: white;
//     border: none;
//     color: #158478;
// }

// .confirmation-container {
//     display: flex;
//     flex-direction: column; 
//     align-items: center;
//     text-align: center;
//     width: 292px;
//     height: 176px; 
//     background-color: #FFFFFF;
// }

// .camera {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     width: 100%;
//     height: 100vh;
//     &-webcam {
//       height: 100vh;
//       padding: 0 15px;
//       z-index: 9;
//       background-color: white;
//     }
//     &-capture-icon {
//       width: 80px !important;
//       height: 80px !important;
//       background-color: white;
//       border-radius: 40px;
//       display: flex;
//       position: absolute;
//       justify-content: center;
//       align-items: center;
//       bottom: 80px;
//       z-index: 9;
//       filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
//       &__icon{
//           width: 66px !important;
//           height: 66px !important; 
//           background-color: white;
//           border-radius: 40px;
//           border: none;
//       }
//     }
//     &-capture {
//       margin-top: 80px;
//       display: flex;
//       justify-content: center;
  
//     }
  
//     &-close {
  
//       position: absolute;
//       top: 80px;
//       left: 20px;
//       z-index: 9;
//       &-icon{
//           background-color: transparent;
//           border: none;
//           color: #51E3D4;
//           outline: none;
          
//       }
//   }
  
//   &-switch{
//       position: absolute;
//       bottom: 70px;
//       right: 50px;
//       width: 26px;
//       z-index: 9;
//       &-icon{
//           background-color: transparent;
//           border: none;
//           color: #263073;
//           outline: none;
          
//       }
        
//     }
  
//     &-fishname {
//       display: flex;
//       justify-content: center;
//       margin-top: 250px;
//     }
  
//     &-no-identify {
//       display: flex;
//       flex-direction: column;
//       align-items: center;
//       margin-top: 300px;
//     }
//   }
  
.confirmation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #FFFFFF;
  width: 292px;
  height: 176px;
  background: #FFFFFF;
  box-shadow: 0px 5px 17px rgba(38, 48, 115, 0.1), 0px -1px 10px rgba(38, 48, 115, 0.1);
  border-radius: 16px;
  justify-content: center;
}

