<<<<<<< HEAD
header {

        position: absolute;
        top: 0;
        width: 100%;
=======
.headerLogo {
    
        margin: 0;
        box-sizing: border-box;
        padding: 0;
        
>>>>>>> d2270a01e4685754500087aafd747d5690f5f559
}